.system {
  font-family: "Arial";
  font-size: 14px;
  float: left;
  clear: both;
  position: relative;
  background-color: #333;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));
  background: -moz-linear-gradient(-90deg, #222, #333);
}
.finals {
  float: right;
  right: 0px;
  clear: right;
  position: relative;
}
.bracket {
  float: right;
  height: 400px;
  clear: left;
}

.loserBracket {
  float: right;
  height: 200px;
  clear: left;
  position: relative;
}

.round {
  position: relative;
  width: 100px;
  margin-right: 40px;
  float: left;
}

.match {
  position: relative;
  float: left;
  display: block;
  width: 100%;
}

.team {
  float: left;
  background-color: #666;
  color: #FFF;
  width: 100px;
  border-radius: 5px;
  margin: 1px 0px;
  cursor: default;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.team b{
  font-weight: normal;
  padding: 3px;
}

.team span {
  font-weight: bold;
  float: right;
  cursor: pointer;
  padding: 0px;
  padding-right: 5px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px; 
  text-align: right;
  width: 20px;
}

.team span[disabled] {
  cursor: default;
}

.team span input {
  font-size: 10px;
  padding: 0px;
  width: inherit;
  height: 16px;
}

.team span input.error {
  background-color: #FCC;
}

.team.np {
  background-color: #666;
  color: #EEE;
}

.team.na {
  background-color: #999;
  color: #CCC;
}

.team.win {
  background-color: #888;
  color: #EEE;
}
.team.win span {
  color: #0F0;
}
.team.lose span {
  color: #C00;
}
.team.lose {
  background-color: #666;
  color: #333;
}
.team.tie span {
  color: #00F;
}

.teamContainer {
  position: relative;
  float: left;
  display: block;
}

.connector {
  border: 2px solid #666;
  border-left: none;
  position: absolute;
  display: block;
  z-index: 100;
}

.connector div.connector {
  border: none;
  border-bottom: 2px solid #666;
  height: 0px;
  z-index: 100;
  position: absolute;
  display: block;
}

.connector.highlight,
.connector div.connector.highlight {
  border-color: #0C0;
}

.team.highlight {
  background-color: #3C0;
  color: #000;
}

.connector.highlightWinner,
.connector div.connector.highlightWinner {
  border-color: #C90;
}

.team.highlightWinner {
  background-color: #C90;
  color: #000;
}

.connector.highlightLoser,
.connector div.connector.highlightLoser {
  border-color: #09C;
}

.np .connector,
.np .connector div.connector {
  border-color: #222;
}

.team.highlightLoser {
  background-color: #09C;
  color: #000;
}
