#system {
  background-color: #CFF;
  float: left;
  position: relative;
  width: 1200px;
}
#finals {
  float: right;
  right: 0px;
  clear: right;
  position: relative;
}
#bracket {
  float: right;
  background-color: #EED;
  height: 600px;
  clear: left;
}

#loserBracket {
  float: right;
  background-color: #EED;
  height: 300px;
  clear: left;
  position: relative;
}

.round {
  position: relative;
  width: 100px;
  background-color: #CCC;
  margin-right: 40px;
  float: left;
}

.round:nth-child(n+2) {
  background-color: #F00; 
}

.match {
  position: relative;
  background-color: #FFE;
  float: left;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.team {
  float: left;
  background-color: #666;
  color: #FFF;
  width: 100px;
  border-radius: 5px;
  margin: 1px 0px;
}

.team span {
  float: right;
}

.team.win span {
  color: #0F0;
}
.team.lose span {
  color: #F00;
}
.team.lose {
  background-color: #CCC;
  color: #666;
}
.team.tie span {
  color: #00F;
}

.teamContainer {
  position: relative;
  float: left;
  display: block;
}

.connectorFrom {
  border: 2px solid #333;
  border-left: none;
  position: absolute;
  display: block;
  z-index: 100;
}

.teamContainer .connectorTo {
  border-bottom: 2px solid #333;
  height: 0px;
  z-index: 100;
  position: absolute;
  display: block;
}
