body {
  background: #666;
}

div#main {
  width: 780px;
  background: #FFF;
  float: left;
  padding: 5px;
}

div.demo {
  overflow: auto;
  margin: 10px;
}

pre {
  border-left: 5px solid #CCC;
  background-color: #EEE;
  margin: 10px;
  padding: 5px;
  overflow: auto;
}
