body {
  background: #666;
  font-family: 'Arial'
}

div#main {
  width: 780px;
  background: #FFF;
  float: left;
  padding: 10px;
}
h1, h2 { clear: both; }
div.demo {
  overflow: auto;
}

pre {
  overflow: hidden;
}
